fastapi
uvicorn
python-multipart
langchain-openai
langchain-chroma
langchain-community
langchain
pydantic
pypdf
chromadb
tiktoken
pysqlite3-binary
google-cloud-texttospeech
slowapi
limits
python-dotenv
redis
python-jose[cryptography]
requests
httpx
sympy
